@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Playfair+Display&display=swap');
.site-header h1 {
    font-family: alegreya;
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: aliceblue;
	color: #FFFFFF;
	letter-spacing: 15px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	border: medium;
	border-style: solid
}
	
nav {
    font-family: alegreya;
    text-align: center;
    text-transform: uppercase;
	text-decoration-color: aliceblue;
	color: #FFFFFF;
	font-size: 25px;
	letter-spacing: 30px;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 200px;
	
}
a {
	color: #858585;
}
h2 {
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 200px;
}
h3 {
	text-align: right;
	color: #FFFFFF;
	letter-spacing: 15px;
}
h4 {
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 10px;
}
h5 {
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 15px;
	font: merriweather;
	font-style: italic;
	border: thick double;
	font-size: 25px;
	text-transform: uppercase;
}
h6 {
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 20px;
	font-size: 20px;
}
h7 {
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 15px;
	font: merriweather;
	font-style: italic;
	border: thick double;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 50px;
	margin-right: 50px;
}
h8 {
	text-align: left;
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: normal;
	letter-spacing: 15px;
	text-transform: uppercase;
}
h9 {
	text-align: left;
	color: #FFFFFF;
	letter-spacing: 30px;
	text-transform: lowercase;
	font-size: 30px;
	font-family: alegreya;
	border: ridge thin;
}
h10 {
	color:#000000;
	text-align: left;
	letter-spacing: 15px;
	line-height: 225px;
	font-size: 10px;
	text-transform: lowercase;
}
